body {
  background: #333;
}

.box {
  background: white;
  width: 200px;
  height: 200px;
  position: relative;
  top: 0;
  left: 0;
  /* animation-name: animate1;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out; */
  /* one line : */
  /* animation: animate1 5s forwards ease-in-out; */
}

@keyframes animate1 {
  25% {
    top: 0;
    left: 300px;
    background: red;
    border-radius: 50% 0 0 0;
  }
  
  50% {
    top: 300px;
    left: 300px;
    background: green;
    border-radius: 50% 50% 0 0;
  }

  75% {
    top: 300px;
    left: 0;
    background: blue;
    border-radius: 50% 50% 50% 0;
  }

  100% {
    top: 0;
    left: 0;
    background: white;
    border-radius: 50%;
  }
}